params {
    outdir = './results'
}

profiles {
    test {
        docker.enabled = true
    }
    docker {
        docker.enabled = true
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

process {
    cpus   = { 1 }
    memory = { 6.GB }
    time   = { 4.h }
    shell  = ['/bin/bash', '-euo', 'pipefail']

    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    container = 'ubuntu:latest'
}
